<section fxLayout fxLayoutAlign="center">

  <mat-card fxFlex.lt-sm="100%" fxFlex="60%" fxLayout="column" fxLayoutAlign="center center">
    <mat-card-title>Time to start a workout</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-select placeholder="choose new exercise" required [(ngModel)]="newExercise" #exe="ngModel">
          <mat-option *ngFor="let exercise of (exercises$ | async)" [value]="exercise">{{exercise.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="exe.invalid" mat-button (click)="add(); exe.reset()"> Add to New Exercises List </button>
    </mat-card-actions>
  </mat-card>

</section>
<section fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.lt-sm="100%" fxLayout="column" fxLayoutAlign="center center">
    <mat-card-title>New Exercises List</mat-card-title>
    <mat-list role="list" fxLayout="column" fxLayoutAlign="center center">
      <mat-list-item role="listitem" fxFlex fxFlexAlign="center center">
        <button [disabled]="(currentExes$ | async).length===0" mat-mini-fab (click)="start()">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item *ngFor="let exe of (currentExes$ | async)" role="listitem">
        <div>{{exe.name}}</div>
      </mat-list-item>
    </mat-list>
  </mat-card>
</section>
