mat-sidenav-container,
mat-sidenav,
mat-sidenav-content
  height: 100%

mat-sidenav,
  padding-top: 20%
  width: 60%

  a
    padding: 3% 30%
    border-radius: 25px
    &:hover
      background: rgba(0,0,0,0.1)

mat-sidenav-content
  a[routerLink]
    text-decoration: none
    color: white
    margin-right: 15px

  a[routerLink]:hover
    color: rgba(255, 255, 255, 0.7)

  a[routerLink].active
    color: red

ul
  list-style: none

