/* You can add global styles to this file, and also import other style files */
@import "./custom-theme.sass"


html, body
  font-family: Roboto, sans-serif
  font-size: 1em
  height: 100%

body
  margin: 0
  padding: 0

ul
  list-style: none

main
  margin: 2%
